body, html{
  height:100%;
}
body{
  font-family: sans-serif;
  letter-spacing: -1;
  margin: 0px;
  background: #444 url("imgs/background.jpg") no-repeat right top;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: #353535;
  text-decoration: none;
}
.title, .addIngredient{
  padding:5px 12px;
  float:right;
}
.newOrder{
  padding: 5px 12px;
  float: left;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.ingredient {
  position:absolute;
}
